[localhost]
127.0.0.1 ansible_connection=local ansible_become_password={{ env.controller.sudo_pass }}

[localhost:vars]
ansible_python_interpreter=auto

[file_server]
{{ env.file_server.ip }} ansible_user={{ env.file_server.user }} {{ ('ansible_ssh_private_key_file=' + env.file_server.key_path) if env.file_server.key_path is defined }}

#{% if (env.hmc_ftp_server is defined) %}
#[hmc_ftp_server]
#{{ env.hmc_ftp_server.hostname }} ansible_host={{ env.hmc_ftp_server.ip }} ansible_user={{ env.hmc_ftp_server.user }} {{ ('ansible_ssh_private_key_file=' + env.hmc_ftp_server.key_path) if env.hmc_ftp_server.key_path is defined }}
#{% endif %}

[kvm_host]
# KVM Hosts does not have a 'sudo' password
# {{ env.systems.host1.hostname }} ansible_host={{ env.systems.host1.ip }} ansible_user={{ env.systems.host1.user }} ansible_password={{ env.systems.host2.pass }} {{ ('ansible_ssh_private_key_file=' + env.systems.host1.key_path) if env.systems.host1.key_path is defined }}
{{ env.systems.host1.hostname }} ansible_host={{ env.systems.host1.ip }} ansible_user={{ env.systems.host1.user }} {{ ('ansible_ssh_private_key_file=' + env.systems.host1.key_path) if env.systems.host1.key_path is defined }}
{% if (env.systems.host2.hostname is defined) %}
{{ env.systems.host2.hostname }} ansible_host={{ env.systems.host2.ip }} ansible_user={{ env.systems.host2.user }} {{ ('ansible_ssh_private_key_file=' + env.systems.host1.key_path) if env.systems.host2.key_path is defined }}
{% endif %}
{% if (env.systems.host3.hostname is defined) %}
{{ env.systems.host3.hostname }} ansible_host={{ env.systems.host3.ip }} ansible_user={{ env.systems.host3.user }} {{ ('ansible_ssh_private_key_file=' + env.systems.host1.key_path) if env.systems.host3.key_path is defined }}
{% endif %}

[kvm_host_bastion]
{% if (env.systems.bastion.hostname is defined) %}
{{ env.systems.bastion.hostname }} ansible_host={{ env.systems.bastion.ip }} ansible_user={{ env.systems.bastion.user }} ansible_password={{ env.systems.bastion.pass }} ansible_become_password={{ env.systems.bastion.pass }}
{% else %}
{{ env.systems.host1.hostname }} ansible_host={{ env.systems.host1.ip }} ansible_user={{ env.systems.host1.user }} ansible_password={{ env.systems.host1.pass }} ansible_become_password={{ env.systems.host1.pass }}
{% endif %}

[kvm_host_bootstrap]
{{ env.systems.host1.hostname }} ansible_host={{ env.systems.host1.ip }} ansible_user={{ env.systems.host1.user }} ansible_password={{ env.systems.host1.pass }} ansible_become_password={{ env.systems.host1.pass }}

{% if (env.rhocpv1.hostname is defined) %}
[rhocpv_host]
{{ env.rhocpv1.hostname }} ansible_host={{ env.rhocpv1.ip }} ansible_user=root ansible_become_password={{ env.rhocpv1.pass }}

[rhocpv_host:vars]
ansible_python_interpreter=auto
{% endif %}

[bastion]
{{ env.bastion.networking.hostname }} ansible_host={{ env.bastion.networking.ip }} ansible_user={{ env.bastion.access.user }}  ansible_password={{ env.bastion.access.pass }} ansible_become_password={{ env.bastion.access.pass }}
