# Default python3 path
# Ubuntu: /usr/bin/python3
# RHEL  : /usr/bin/python3
# Jenkins Ubuntu Agent using python env. Therefore requires "interpreter_python=auto" for localhost !

[defaults]
callbacks_enabled = ansible.posix.profile_tasks
inventory=inventories/default/
# Use interpreter_python=auto on local host, on all other system we use:
#interpreter_python=/usr/bin/python3
interpreter_python=auto
private_key_file=~/.ssh/ansible-ocpz
roles_path=roles_internal:roles
host_key_checking=False
deprecation_warnings=False
# enable_task_debugger = True
gathering=smart
fact_caching=jsonfile
fact_caching_connection=/tmp
# 1-hour timeout, adjust if needed
fact_caching_timeout=1
#vault_password_file = ~/ansible-vault.pw
result_format=yaml

[inventory]
cache=True

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=3600s
pipelining=True
retries=3

[callback_profile_tasks]
# Options: descending (default), ascending, or none
sort_order = none
