---
# Copy this file to 'all.yaml' in the same folder and add your required values there !
#
# For a comprehensive description of each variable, please see documentation here:
# https://ibm.github.io/Ansible-OpenShift-Provisioning/set-variables-group-vars/

# Section 1 - Ansible Controller
env:
  controller:
    sudo_pass: none

  # Section 2 - LPAR(s)
  z:
    high_availability: False
    lpar1:
      create: False
      hostname: xkvmocp05
      ip: 172.23.15.15
      user: {{ id_xkvmocp.user }}
      pass: {{ id_xkvmocp.pass }}
    lpar2:
      create: False
      hostname: akvmocp01
      ip: 172.23.15.1
      user: {{ id_xkvmocp.user }}
      pass: {{ id_xkvmocp.pass }}
    lpar3:
      create: False
      hostname: a3elp33
      ip: 172.23.236.33
      user: {{ id_lpar_default.user }}
      pass: {{ id_lpar_default.pass }}

  # Section 3 - File Server
  file_server:
    ip: 172.23.143.25
    user: {{ id_file_server.user }}
    pass: {{ id_file_server.pass }}
    protocol: http
    iso_mount_dir: redhat/x86_64/RHEL8.9/DVD
    iso_os_variant: rhel8.9
    cfgs_dir: {{ id_file_server.cfgs_dir }}/

  # Section 4 - Red Hat
  redhat:
    # username: {{ id_redhat.username }}
    # password: {{ id_redhat.password }}
    manage_subscription: false
    # Make sure to enclose pull_secret in 'single quotes'
    pull_secret: '{{ id_redhat.pull_secret }}'

  # Section 5 - Bastion
  bastion:
    create: True
    vm_name: klaus-bastion
    resources:
      disk_size: 150
      ram: 3072
      swap: 3072
      vcpu: 4
    networking:
      ip: 172.23.235.60
      hostname: klaus-bastion
      subnetmask: 255.255.0.0
      gateway: 172.23.0.1
      # ns that resolves the bastion's hostname.
      nameserver1: 172.23.235.60
      # nameserver2:
      forwarder: 1.1.1.1
      interface: ""
      base_domain: test.multiarch
    access:
      user: {{ id_bastion.user }}
      pass: {{ id_bastion.pass }}
      root_pass: {{ id_bastion.root_pass }}
    options:
      dns: True
      loadbalancer:
        on_bastion: True
  #        public_ip:
  #        private_ip:

  # Section 6 - Cluster Networking
  cluster:
    networking:
      metadata_name: klaus
      base_domain: test.multiarch
      subnetmask: 255.255.0.0
      gateway: 172.23.0.1
      nameserver1: 172.23.235.60
      # nameserver2:
      forwarder: 1.1.1.1
      interface: ""

    # Section 7 - Bootstrap Node
    nodes:
      bootstrap:
        disk_size: 100
        # Min size is 16384
        ram: 16384
        vcpu: 8
        vm_name: klaus-bootstrap
        ip: 172.23.235.64
        hostname: klaus-bootstrap

      # Section 8 - Control Nodes
      control:
        disk_size: 100
        # Min size is 16384
        ram: 16384
        vcpu: 8
        vm_name:
          - klaus-master-1
          - klaus-master-2
          - klaus-master-3
        ip:
          - 172.23.235.61
          - 172.23.235.62
          - 172.23.235.63
        hostname:
          - master-1
          - master-2
          - master-3

      # Section 9 - Compute Nodes (day 1)
      compute:
        disk_size: 100
        # disk2_size: 100
        ram: 8192
        vcpu: 8
        vm_name:
          - klaus-worker-1
          - klaus-worker-2
        ip:
          - 172.23.235.65
          - 172.23.235.66
        hostname:
          - worker-1
          - worker-2

  # Section 10 - Infra Nodes
  # infra:
  #   disk_size: 100
  #   ram: 10240
  #   vcpu: 24
  #   vm_name:
  #     - klaus-infra-1
  #   ip:
  #     - 172.23.235.69
  #   hostname:
  #     - infra-1

  #######################################################################################
  # All variables below this point do not need to be changed for a default installation #
  #######################################################################################

  # Section 11 - (Optional) Packages
  pkgs:
    galaxy:
      [community.general, community.crypto, ansible.posix, community.libvirt]
    controller: []
    kvm:
      [
        libguestfs,
        libvirt-client,
        libvirt-daemon-config-network,
        libvirt-daemon-kvm,
        cockpit-machines,
        virt-top,
        qemu-kvm,
        python3-lxml,
        cockpit,
        lvm2,
      ]
    bastion:
      [
        haproxy,
        httpd,
        bind,
        bind-utils,
        expect,
        firewalld,
        mod_ssl,
        rsync,
        # Add to test origin test suite
        git,
        httpd-tools,
        jq,
        make,
        p7zip,
        podman,
        wget
      ]

  # Section 12 - OpenShift Settings
  install_config:
    api_version: v1
    compute:
      architecture: amd64
      hyperthreading: Enabled
    control:
      architecture: amd64
      hyperthreading: Enabled
    cluster_network:
      cidr: 10.128.0.0/14
      host_prefix: 23
      type: OVNKubernetes
    service_network: 172.30.0.0/16
    fips: "false"

  # Section 13 - (Optional) Proxy
  #  proxy:
  #    http:
  #    https:
  #    no:

  # Section 14 - (Optional) Misc
  language: en_US.UTF-8
  #  timezone: America/New_York
  timezone: Europe/Berlin
  keyboard: us
  root_access: false
  ansible_key_name: ansible-ocpz
  ocp_ssh_key_comment: OpenShift key
  bridge_name: macvtap
  network_mode: macvtap
  use_ipv6: false
  use_dhcp: false

path_to_key_pair: ~/.ssh/ansible-ocpz.pub

{% raw %}
# Section 15 - OCP and RHCOS (CoreOS)

# ocp_download_url with '/' at the end !
#ocp_download_url: "https://mirror.openshift.com/pub/openshift-v4/multi/clients/ocp/4.13.0/{{ env.install_config.control.architecture }}/"
ocp_download_url: "http://172.23.143.25/redhat/ksmolin/ocp/4.14.3/{{ env.install_config.control.architecture }}/"

# ocp client and installer filenames
ocp_client_tgz: "openshift-client-linux.tar.gz"
ocp_install_tgz: "openshift-install-linux.tar.gz"

# rhcos_download_url with '/' at the qend !
#rhcos_download_url: "https://mirror.openshift.com/pub/openshift-v4/s390x/dependencies/rhcos/4.12/4.12.3/"
rhcos_download_url: "http://172.23.143.25/redhat/ksmolin/rhcos/"

# For rhcos_os_variant use the OS string as defined in 'osinfo-query os -f short-id'
rhcos_os_variant: rhel8.6

# RHCOS live image filenames
rhcos_live_kernel: "rhcos-4.14.0-x86_64-live-kernel-x86_64"
rhcos_live_initrd: "rhcos-4.14.0-x86_64-live-initramfs.x86_64.img"
rhcos_live_rootfs: "rhcos-4.14.0-x86_64-live-rootfs.x86_64.img"
{% endraw %}

# Section 17 - (Optional) Setup disconnected clusters
# Warning: currently, the oc-mirror plugin is officially downloadable to amd64 only.
disconnected:
  enabled: False
