host: {{ env.z.hmc.host }}
userid: {{ env.z.hmc.user }}
password: {{ env.z.hmc.pass }}
ftp_config:
  host: {{ env.z.hmc_load_from_ftp.host }}
  username: {{ env.z.hmc_load_from_ftp.user }}
  password: {{ env.z.hmc_load_from_ftp.pass }}
  file_path: {{ hmc_load_from_ftp_file_path }}
lpar: {{ hmc_load_from_ftp_lpar_name }}
