$TTL 1W
@ IN SOA {{ env.bastion.networking.hostname }}.{{ env.cluster.networking.base_domain }}. root (
                                            2020011800 ; Serial
                                            3600 ; Refresh (1 hour)
                                            1800 ; Retry (30 min)
                                            604800 ; Expire (1 week)
                                            86400 ; Minimum TTL (1 day)
)
;Name Server Information
@ IN NS {{ env.bastion.networking.hostname }}.{{ env.cluster.networking.base_domain }}.

;Reverse lookup for Name Server
{{ bastion_split_ip.3 }} IN PTR {{ env.bastion.networking.hostname }}.{{ env.cluster.networking.base_domain }}.

;PTR Record IP address to Hostname
{{ bootstrap_split_ip.3 }}     IN      PTR     {{ env.cluster.nodes.bootstrap.hostname }}.{{ env.cluster.networking.metadata_name }}.{{ env.cluster.networking.base_domain }}.
{{ bastion_split_ip.3 }}     IN      PTR     api-int.{{ env.cluster.networking.metadata_name }}.{{ env.cluster.networking.base_domain }}.
{{ bastion_split_ip.3 }}     IN      PTR     api.{{ env.cluster.networking.metadata_name }}.{{ env.cluster.networking.base_domain }}.
