apiVersion: {{ env.install_config.api_version }}
baseDomain: {{ env.cluster.networking.base_domain }}
compute:
platform:
  none: {}
fips: {{ env.install_config.fips }}
pullSecret: '{{ pullsecret }}'
additionalTrustBundle: | 
  {{ replace_cert }}
imageContentSources:
- mirrors:
  - {{ local_registry }}/ocp4/openshift4
  source: quay.io/openshift-release-dev/ocp-release
- mirrors:
  - {{ local_registry }}/ocp4/openshift4
  source: quay.io/openshift-release-dev/ocp-v4.0-art-dev
