apiVersion: {{ env.install_config.api_version }}
baseDomain: {{ env.cluster.networking.base_domain }}
metadata:
  name: {{ env.cluster.networking.metadata_name }}
compute:
- hyperthreading: {{ env.install_config.compute.hyperthreading }}
  name: worker
  replicas: {{ (env.cluster.nodes.compute.hostname | default('') | length) }}
  architecture: {{ env.install_config.compute.architecture }}
controlPlane:
  hyperthreading: {{ env.install_config.control.hyperthreading }}
  name: master
  replicas: {{(env.cluster.nodes.control.hostname | length)}}
  architecture: {{ env.install_config.control.architecture }}
networking:
  clusterNetwork:
  - cidr: {{ env.install_config.cluster_network.cidr }}
    hostPrefix: {{ env.install_config.cluster_network.host_prefix }}
  networkType: {{ env.install_config.cluster_network.type }}
  serviceNetwork:
  - {{ env.install_config.service_network }}
  machineNetwork:
  - cidr: {{ env.install_config.machine_network_cidr }}
platform:
  none: {}
fips: {{ env.install_config.fips }}
pullSecret: '{{ id_redhat.pull_secret }}'
